<!DOCTYPE html>
<html>
<head>
  <title>Odyssey</title>

  <meta name='viewport' content="width=device-width, initial-scale=1" />

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='outer-container'>
    <h1>Odyssey</h1>
    <small>Request any paperbook from your nearest library for free.</small>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</body>
</html>
